<p id="notice"><%= notice %></p>

<p>
  <b>Idstring:</b>
  <%= @employee.idString %>
</p>

<p>
  <b>Name:</b>
  <%= @employee.name %>
</p>

<p>
  <b>Admin:</b>
  <%= @employee.admin %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
