<div  class="hero-unit">
  <h1>Assets</h1>
</div> 

<%= form_tag assets_path, :method => 'get', :id => "assets_search" do %>
  <div class="row">
    <div class="span6">
      <%= link_to 'New Asset', new_asset_path %>
    </div>

    <div class="span6 search_div">
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil, :class => 'btn btn-info' %>
    </div>
  </div>
  <div id="assets"><%= render 'assets' %></div>
<% end %>


